frontend/mobile/build/
frontend/web/build/
frontend/*/node_modules/
frontend/*/dist/

backend/api/build/
backend/api/dist/
backend/sense-shelf/build/
backend/sense-shelf/firmware/.pio/
backend/*/node_modules/

backend/*/cmake-build-debug
backend/*/**/.pem
backend/*/**/credentials.h

*/**/senserx-firebase-adminsdk-h9drf-3efdc54ebd.json

*.log
*.pid
*.seed
*.pid.lock

.vscode/
.idea/

.env
.env.prod
.env.*.prod
.env.dev
.env.*.dev
.env.local
.env.*.local

*.tsbuildinfo

node_modules/

/bower_components/
/dist/
/build/

logs/
*.log

pids
*.seed
*.pid.lock

coverage/
*.nyc_output

.grunt/

.cache/
*.cache

*.iml
*.tmproj
*.bak

.DS_Store
.Trashes

Thumbs.db
ehthumbs.db

*.swp

.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks

.turbo

npm-debug.log*

*.sqlite
*.sqlite-journal

.firebase/
frontend/web/src/firebase/firebaseConfig.ts
backend/api/senserx-firebase-adminsdk-h9drf-3efdc54ebd.json
frontend/mobile/senserx/.env-dev
